@model SteamRecycle.Models.User
@{
    ViewBag.Title = "Home Page";
}

&ensp;

<div class="jumbotron">
    <h1>Steam Recycle</h1>

        @using (Html.BeginForm("Games", "User"))
        {
            <div class="input-group col-lg-4">
                <input type="text" name="profileId" class="form-control" placeholder="Enter your SteamID here..." aria-label="Enter your SteamID here..." />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </span>
            </div>
        }


            
</div>
<div>
    <h2>Don't know what any of these are?</h2>
    <p>
        You can find your SteamID, SteamID3, SteamID64, Custom URL, and Profile URL through one of these services
    </p>
    <p>
        <a class="btn btn-primary" href="https://steamid.io/">SteamID I/O</a>
        <a class="btn btn-primary" href="https://steamidfinder.com/">Stean ID Finder</a>
        <a class="btn btn-primary" href="http://www.steam64.com/">Steam64</a>
    </p>
</div>

