@model SteamRecycle.Models.User
@{
    ViewBag.Title = "Home Page";
    Html.EnableClientValidation(true);
}

&ensp;

<div class="jumbotron">
    <h1>Find your unplayed games</h1>

    @using (Html.BeginForm("Games", "User"))
    {
        <div class="input-group col-lg-2">
            @Html.TextBoxFor(m => m.ProfileId, new { @class = "form-control", placeholder = "Enter your SteamID64 here..." })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Submit</button>
            </span>
        </div>
        @Html.ValidationMessageFor(m => m.ProfileId, "", new { @class = "text-danger" })
    }        
</div>
<div>
    <h2>Don't know your SteamID64?</h2>
    <p>
        You can find your SteamID64 through one of these services:
    </p>
    <p>
        <a class="btn btn-primary" href="https://steamid.io/">SteamID I/O</a>
        <a class="btn btn-primary" href="https://steamidfinder.com/">Stean ID Finder</a>
        <a class="btn btn-primary" href="http://www.steam64.com/">Steam64</a>
    </p>
</div>

