@model SteamRecycle.Models.User
@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> @Model.ProfileId </h2>

<div id="grid"></div>

@section scripts{

    <script>
        var profileId = "@Model.ProfileId";

        getGameList(profileId);

    </script>
    
}

