@model SteamRecycle.Models.User
@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> Here are the unplayed games in your Steam library </h2>
<hr />

<div id="grid"></div>

@section scripts{

    <script>
        var profileId = "@Model.ProfileId";

        getGameList(profileId);

    </script>
    
}

