@model SteamRecycle.Models.User
@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> @Model.ProfileId </h2>

@section scripts{

<script>
    $(document).ready(function () {
        $.get("http://localhost:3000/Steam/Gameslist/@Model.ProfileId", function(result) {
            console.log(result)
        });
    });
</script>
    
}

